# for now values 0 (default, less verbose), 1 and 2 (more verbose) are available
VERBOSE=0

REMS_URL="https://rems-gdi-nl.molgenis.net"

PORTAL_URL="https://portal-gdi-nl.molgeniscloud.org"
PORTAL_DATABASE="PortalGDI"
PORTAL_TABLE="datasets"

# when portal is private and/or parsing is done on the behalf of the some sorf of automatics
PORTAL_TOKEN="ysak3kr32k2l..."

# Portalbot is a REMS bot user
PORTALBOT_KEY="k32rt24tj4..."
# delay in seconds for the main script to iterate moglenis and download new data
MAIN_DELAY="10"

# Hard-coded values: when data is created or changed on the Molgenis, these values
# are used to select organization, license, form and workflow (can be later replaced with
# values from Molgenis itself
_organization_id="umcg"
_license_id="1"
_form_id="1"
_workflow_id="1"
